<div id="article-banner">
  <div id="hitokoto" class="one">
    <div>
      <a href="#" id="hitokoto_text" class="one_text" target="_blank">:D 加载中...</a>
    </div>
    <div class="one_source">
      —— <span id="hitokoto_author"></span> <span id="hitokoto_from"></span>
      <img
        class="refresh_button"
        onclick="getYiju()"
        src="/images/refresh.png"
      />
    </div>
  </div>
</div>

<main class="app-body">
  <!--<div class="card-container"></div>-->
  <div id="waline" class="one_waline"></div>
  <%- page.content %>
</main>

<script>
  (function () {
    var url = "<%= config.url %>/<%= page.path %>";
    var banner = "<%= page.banner %>";
    if (banner !== "" && banner !== "undefined" && banner !== "null") {
      $("#article-banner").css({
        "background-image": "url(" + banner + ")",
      });
    } else {
      $("#article-banner").geopattern(url);
    }
    $(".header").removeClass("fixed-header");
  })();
</script>

<script>
  $(".card-header").each(function () {
    var name = $(this).data("name");
    $(this).geopattern(name);
  });
</script>

<%- partial('_third-party/hitokoto') %>
<%- partial('_third-party/waline') %>
