<div id="article-banner"> 
    <p id="hitokoto" class="yiyan"><a href="#" id="hitokoto_text">:D 加载中...</a></p>
    <!--<input type="text" name="one_link"></input><a href="../"><button type="button">Go</button></a> 要求：按钮链接到../INPUT-->
</div>
<main class="app-body">
    <!--<div class="card-container"></div>-->
    <div id="vcomments" class=""></div>
    <%- page.content %>
</main>
<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
<script>
    (function () {
        var url = '<%= config.url %>/<%= page.path %>';
        $('#article-banner').geopattern(url);
        $('.header').removeClass('fixed-header')
        $('.card-header').each(function () {
                    var name = $(this).data('name');
                    $(this).geopattern(name);
                })
    })()
</script>
<script src="//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js"></script>
<script>
    new Waline({
        el: '#vcomments',
        serverURL: 'https://comment-kappa.vercel.app',
        emoji: [
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/alus',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
        ],
        appId: '<%- page.appId %>',
        appKey: '<%- page.appKey %>',
        avatar: '<%- page.avatar %>',
        IPQPS: 0,
        placeholder: '<%- page.prompt %>',
        requiredFields: ['<%= page.required %>'], 
    })
</script>