<div id="article-banner">
    <div id="hitokoto" class="one">
        <div><a href="#" id="hitokoto_text" class="one_text" target="_blank">:D 加载中...</a></div>
        <div class="one_source">
            —— <span id="hitokoto_author"></span> <span id="hitokoto_from"></span> <img class="refresh_button" onclick="getYiju()" src="/images/refresh.png" />
        </div>
    </div>
</div>

<main class="app-body">
    <!--<div class="card-container"></div>-->
    <div id="waline" class="one_waline"></div>
    <%- page.content %>
</main>

<script>
    function getYiju() {
        fetch('https://v1.hitokoto.cn')
            .then(response => response.json())
            .then(data => {
                const hitokoto = document.getElementById('hitokoto_text')
                hitokoto.href = 'https://hitokoto.cn/?uuid=' + data.uuid
                hitokoto.innerText = data.hitokoto
                const from = document.getElementById('hitokoto_from')
                from.innerText = data.from
                if (data.from_who != data.from) {
                    const author = document.getElementById('hitokoto_author')
                    author.innerText = data.from_who
                }
                else {
                    const author = document.getElementById('hitokoto_author')
                    author.innerText = []
                }
            })
            .catch(console.error)
    }
    getYiju()
</script>

<script>
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header')
    $('.card-header').each(function () {
        var name = $(this).data('name');
        $(this).geopattern(name);
    })
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.css" />
<script src="https://cdn.jsdelivr.net/npm/@waline/client/dist/waline.js"></script>
<script>
    // 中文默认
    const locale = {
        placeholder: '<%- page.placeholder %>' || '<%- config.comment.waline.placeholder %>',
    };

    Waline.init({
        el: '#waline',
        serverURL: 'https://waline-cn.voiiu.com',
        appId: '<%- page.appId %>',
        appKey: '<%- page.appKey %>',
        login: 'disable',
        avatarCDN: 'https://gravatar.loli.top/avatar/',
        //avatar: '<%- config.comment.waline.avatar %>',
        placeholder: '<%- page.placeholder %>',
        meta: ['nick', 'mail'],
        requiredFields: ['<%= page.required %>'],
        pageview: false,
        emoji: [
            'https://cdn.jsdelivr.net/gh/walinejs/emojis/qq',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis/weibo',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis/tieba',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis/alus',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis/bilibili',
            'https://cdn.jsdelivr.net/gh/walinejs/emojis/bmoji'
        ],
        locale,
    })
</script>