<div id="article-banner">
  <h2><%- page.title %></h2>
  <p class="post-date">
    <% if (page.date) { %> <%- date(page.date, "YYYY-MM-DD") %> <% } %>
  </p>
</div>
<% if (page.catalog == true) { %> <%- partial('_post/catalog') %> <% } %>
<main class="app-body flex-box">
  <!-- Article START -->
  <article class="post-article">
    <%- partial('_post/author') %>
    <section
      class="markdown-content"
      style="font-family: <%- page.font %>; text-indent: <%- page.indent %>">
      <%- page.content %>
    </section>
    <% if (page.tags && page.tags.length) { %>
      <div class="tags">
        <span>标签：</span>
        <%- partial('_partial/tag', { tags: page.tags }) %>
      </div>
    <% } %> 
    <%- partial('_post/nav') %>
    <% if (theme.post.ad == true && page.ad != false) { %>
      <%- partial('_post/ad') %>
    <% } %>
    <% if (theme.post.comment == true && page.comment != false) { %>
      <%- partial('_post/comment') %>
    <% } %>
    <% if (theme.post.reward == true && page.reward == true) { %>
      <%- partial('_post/reward') %>
    <% } %>
    <% if (theme.post.comment == true && page.qrcode != false) { %>
      <%- partial('_post/qrcode') %>
    <% } %>
  </article>
  <!-- Article END -->
</main>

<%- partial('_partial/banner') %>
<%- partial('_partial/title_hider') %>

<script>
  // error image
  $(".markdown-content img").on("error", function () {
    $(this).attr("src", "/images/error.png");
    $(this).css({
      cursor: "default",
    });
  });
</script>
