<div id="waline"></div>
<link rel="stylesheet" href="../../css/waline.css"/>
<script src="../../js/waline.js"></script>
<script>
    const locale = {
        nick: '昵称',
        nickError: '昵称不能少于3个字符',
        mail: '邮箱（可选，可用gravatar.com绑定头像）',
        mailError: '请填写正确的邮件地址',
        link: '网址',
        optional: '可选',
        placeholder: '<%- page.placeholder %>' || '<%- config.comment.waline.placeholder %>',
        sofa: '来发评论吧~',
        submit: '提交',
        like: '喜欢',
        cancelLike: '取消喜欢',
        reply: '回复',
        cancelReply: '取消回复',
        comment: '评论',
        refresh: '刷新',
        more: '加载更多...',
        preview: '预览',
        emoji: '表情',
        uploadImage: '上传图片',
        seconds: '秒前',
        minutes: '分钟前',
        hours: '小时前',
        days: '天前',
        now: '刚刚',
        uploading: '正在上传',
        login: '登录',
        logout: '退出',
        admin: '博主',
        sticky: '置顶',
        word: '字',
        wordHint: '评论字数应在 $0 到 $1 字之间！\n当前字数：$2',
        anonymous: '匿名',
        level0: '潜水',
        level1: '冒泡',
        level2: '吐槽',
        level3: '活跃',
        level4: '话痨',
        level5: '传说',
        gif: '表情包',
        gifSearchPlaceholder: '搜索表情包',
        profile: '个人资料',
        approved: '通过',
        waiting: '待审核',
        spam: '垃圾',
        unsticky: '取消置顶',
        oldest: '按倒序',
        latest: '按正序',
        hottest: '按热度',
        reactionTitle: '你认为这篇文章怎么样？',
    };

    Waline.init({
        el: '#waline',
        //path: window.location.pathname.replace(/\/$/,''),
        serverURL: 'https://waline-cn.voiiu.com/',
        appId: '<%- config.comment.waline.appId %>',
        appKey: '<%- config.comment.waline.appKey %>',
        meta: ['nick', 'mail'],
        login: 'disable',
        // avatar: '<%- config.comment.waline.avatar %>',
        // pageSize: '<%- config.comment.waline.pageSize %>',
        // enableQQ: true,
        requiredFields: ['<%- page.required %>'],
        pageview: '<%- page.counting %>',
        emoji: [
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/qq',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/tieba',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/weibo',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/alus',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/bilibili',
            '//unpkg.com/@waline/emojis@1.1.0/weibo',
            '//unpkg.com/@waline/emojis@1.1.0/qq',
            '//cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/tieba',
            '//cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/alus',
            //  'https://unpkg.com/@waline/emojis@1.0.1/tieba',
            //  'https://unpkg.com/@waline/emojis@1.0.1/alus',
            //  'https://unpkg.com/@waline/emojis@1.0.1/bilibili',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/大航海嘉然',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/向晚大魔王/',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/贝拉kira/',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/嘉然今天吃什么',
        ],
        locale,
    })
</script>