<div id="waline"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<script>
    Waline.init({
        el: '#waline',
        // add serverURL
        serverURL: 'https://waline.voiiu.com/',
        // add emoji
        emoji: [
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/qq',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/tieba',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/weibo',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/alus',
            //    'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.1/bilibili',
            '//unpkg.com/@waline/emojis@1.1.0/weibo',
            '//unpkg.com/@waline/emojis@1.1.0/qq',
            '//cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/tieba',
            '//cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/alus',
            //  'https://unpkg.com/@waline/emojis@1.0.1/tieba',
            //  'https://unpkg.com/@waline/emojis@1.0.1/alus',
            //  'https://unpkg.com/@waline/emojis@1.0.1/bilibili',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/大航海嘉然',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/向晚大魔王/',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/贝拉kira/',
            //  'https://cdn.jsdelivr.net/gh/kottory/waline-emoji@1.0.1/嘉然今天吃什么',
        ],
        appId: '<%- config.comment.waline.appId %>',
        appKey: '<%- config.comment.waline.appKey %>',
        // avatar: '<%- config.comment.waline.avatar %>',
        requiredMeta: ['<%- config.comment.waline.requiredMeta %>'],
        placeholder: '<%- config.comment.waline.placeholder %>',
        // pageSize: '<%- config.comment.waline.pageSize %>',
        enableQQ: true,
        pageview: true,
        // requiredFields: ['nick']
    })
</script>
<!--<script src="https://cdn.bootcdn.net/ajax/libs/waline/2.6.3/waline.min.js"></script>
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/waline/2.6.3/waline.min.css" />-->