<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta name="description" content="<%= config.description || theme.description %>">
  <meta name="keyword" content="<%= config.keyword || theme.keyword %>">
  <% if (config.logo){ %>
  <link rel="shortcut icon" type="image/ico" href="<%= config.favicon %>">
  <% } else { %>
  <%- favicon_tag('css/images/logo.png') %>
  <% } %>
  <title>
    <% if (page.title){ %>
      <%= page.title %>
    <% } else { %>
      <%= config.title %>
    <% } %>
  </title>
  <!-- CSS -->
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.min.css" rel="stylesheet"/>
  <%- css(['css/style']) %>

  <!-- JS -->
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
  <%- partial('_plugin/localsearch') %>
  <script src="/live2d-widget/autoload.js"></script>
  
  <!-- Fonts -->
</head>

