<header class="header fixed-header">
  <nav class="header-container">
    <a class="home-link" href="<%- url_for() %>">
      <img class="logo" src="/images/logo.png" alt="logo"/>
      <span class="eng_mark">CloudPool</span><span class="chn_mark">浊池</span>
    </a>
    <ul class="right-list">
      <% for(name in theme.menu) { %>
        <li class="list-item">
          <% if (is_current(theme.menu[name])) { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link active"><%- name %></a>
          <% } else { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link"><%- name %></a>
          <% } %>
        </li>
      <% } %>
      <% if (theme.local_search.enable == true) { %>
        <%- partial('_partial/search/localsearch_button.ejs') %>
      <% } %>
    </ul>
    <div class="menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div class="menu-mask">
      <ul class="menu-list">
        <% for(name in theme.menu) { %>
          <li class="menu-item">
            <% if (/*url_for(theme.menu[name]) == '/' + path.replace('/index.html', '') || (url_for(theme.menu[name]) == '/' && is_home()) ||*/ is_current(theme.menu[name])) { %>
              <a href="<%- url_for(theme.menu[name]) %>" class="menu-link mobile-active"><%- name %></a>
            <% } else { %>
              <a href="<%- url_for(theme.menu[name]) %>" class="menu-link"><%- name %></a>
            <% } %>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
  <% if (theme.local_search.enable == true) { %>
    <%- partial('_partial/search/localsearch_view.ejs') %>
  <% } %>
</header>
