<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="<%= config.description || theme.description %>">
  <meta name="keyword" content="<%= config.keyword || theme.keyword %>">
  <% if (config.logo){ %>
  <link rel="shortcut icon" type="image/ico" href="<%= config.favicon %>">
  <% } else { %>
  <%- favicon_tag('css/images/logo.png') %>
  <% } %>
  <title>
    <% if (page.title){ %>
    <%= page.title %> | <%= config.title %>
    <% } else { %>
    <%= config.title %>
    <% } %>
  </title>
  <!-- CSS -->
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
  <link href="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.min.css" rel="stylesheet"/>
  <%- css(['css/style']) %>

  <!-- JS -->
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/geopattern/1.2.3/js/geopattern.min.js"></script><!-- version: 1.2.3 -->
  <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet"> 
</head>

