<aside class="sidebar">
  <span class="fa fa-arrow-up scroll-top"></span>
  <span class="fa fa-share-alt share-icon">
    <span class="list-icon">
      <% if (theme.social.qzone) { %>
        <a class="fa" href="<%-theme.social.qzone%>url=<%-url%>&title=<%-page.title + ' - ' + config.title%>&pics=<%-config.url+config.logo%>&desc=<%=page.main%>&summary=<%=config.description%>" class="fa" style="position:relative" aria-hidden="true" target="_blank">
          <span style="color:white;position:absolute;font-size:.9em;font-weight:bold">ｚ</span>  
          <span class="fa-star"></span>
        </a> 
      <% } %>
      <% if (theme.social.sina) { %>
        <a href="<%-theme.social.sina%>url=<%-url%>&title=<%-page.title + ' - ' + config.title%>&pic=<%-config.url+config.logo%>&summary=<%=page.main%>"
        class="fa fa-weibo" aria-hidden="true" target="_blank"></a>
      <% } %>
      <% if (theme.social.douban) { %>
        <a href="<%-theme.social.douban%>url=<%-url%>&title=<%-page.title + ' - ' + config.title%>&pic=<%-config.url+config.logo%>&summary=<%=page.main%>" style="position:relative" aria-hidden="true" target="_blank">
          <span style="color:white;position:absolute;font-size:.85em;font-weight:bold;margin-top:.08em">豆</span>
          <span class="fa fa-square"></span>
        </a>
      <% } %>
      <% if (theme.social.tieba) { %>
        <a href="<%-theme.social.tieba%>url=<%-url%>&title=<%-page.title + ' - ' + config.title%>&pic=<%-config.url+config.logo%>&desc=<%=page.main%>" style="position:relative" aria-hidden="true" target="_blank">
          <span style="color:white;position:absolute;font-size:.85em;font-weight:bold;margin-top:.08em">贴</span>
          <span class="fa fa-square"></span>
        </a>
      <% } %>
      <% if (theme.social.qq) { %>
        <a href="<%-theme.social.qq%>url=<%-url%>&title=<%-page.title + ' - ' + config.title%>&pic=<%-config.url+config.logo%>&desc=<%=page.main%>&summary=<%=config.description%>" class="fa fa-qq" aria-hidden="true" target="_blank"></a>
      <% } %>
    </span>
  </span>
</aside>